<p style="font-family: Georgia; font-size: 30px; color: darkblue;">
ðŸ”¹ install all the necessary libraries 
</p>

In [83]:
#install all required libraries
!pip install matplotlib
!pip install openpyxl
!pip install numpy
!pip install panda
#Import all required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os

Requirement already satisfied: matplotlib in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: openpyxl in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: numpy in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (2.2.5)
Requirement already satisfied: panda in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (0.3.1)
Requirement already satisfied: setuptools in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from panda) (80.8.0)
Requirement already satisfied: requests in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from panda) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from requests->panda) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from requests->panda) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from requests->panda) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anwar\appdata\local\programs\python\python313\lib\site-packages (from requests->panda) (2025.4.26)

<p style="font-family: Georgia; font-size: 30px; color: darkblue;">
ðŸ”¹ Load  Dataset
</p>

In [88]:
df = pd.read_excel('Online Retail Data Set.xlsx')
print('Top 5 Rows')
print(df.head())

Top 5 Rows
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

<p style="font-family: Georgia; font-size: 30px; color: darkblue;">
ðŸ”¹2-Perform High-Level Data Checks
</p>

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹2.1-Snapshot Summery
</p>

In [89]:
#Check data structure
print('Df colmuns') 
print(df.columns)
print('Df Info') 
print(df.info())
print('Df shape') 
print(df.shape)
print('Df colmuns Data type') 
print(df.dtypes)
print('Df Description') 
print(df.describe(include='all'))

Df colmuns
Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')
Df Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None
Df shape
(541909, 8)
Df colmuns Data type
InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object
Df Description
        InvoiceNo StockCode                         Description  \
count    541909.0    541909                              540455
unique    25900.0      4070                                4223
top      573585.0    85123A  WHITE HANGING HEART T-LIGHT HOLDER
freq       1114.0      2313                                2369
mean          NaN       NaN                                 NaN
min           NaN       NaN                                 NaN
25%           NaN       NaN                                 NaN
50%           NaN       NaN                                 NaN
75%           NaN       NaN                                 NaN
max           NaN       NaN                                 NaN
std           NaN       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   541909.000000                         541909  541909.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean         9.552250  2011-07-04 13:34:57.156386048       4.611114
min     -80995.000000            2010-12-01 08:26:00  -11062.060000
25%          1.000000            2011-03-28 11:34:00       1.250000
50%          3.000000            2011-07-19 17:17:00       2.080000
75%         10.000000            2011-10-19 11:27:00       4.130000
max      80995.000000            2011-12-09 12:50:00   38970.000000
std        218.081158                            NaN      96.759853

           CustomerID         Country
count   406829.000000          541909
unique            NaN              38
top               NaN  United Kingdom
freq              NaN          495478
mean     15287.690570             NaN
min      12346.000000             NaN
25%      13953.000000             NaN
50%      15152.000000             NaN
75%      16791.000000             NaN
max      18287.000000             NaN
std       1713.600303             NaN

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹2.2Â change data types
</p>

In [95]:
#change required columns data type
df['CustomerID']=df['CustomerID'].astype(str)
print(df.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID             object
Country                object
dtype: object

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹2.3Â Missing, duplicates
</p>

In [92]:
#check missings
missing=df.isna().sum().sort_values(ascending=False)
print('missing:\n', missing)

#Check missing percent
missing_percent=(missing/len(df))*100
print('Missing Percent:\n', missing_percent)

missing:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
Missing Percent:
 InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [91]:
#missing values handling
#fill customer id 24% missings with 'Unknown'
df['CustomerID']=df['CustomerID'].fillna('Unknown')

#remove decription null vlaues beacuse its is less then 1 %

df=df[df['Description'].notna()]

In [97]:
#duplicate Check
print(df.duplicated().sum())

#drop duplicates
df.drop_duplicates(inplace=True)

5268

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹2.3Â Detect & trim extreme outliers (basic IQR rule)
</p>

In [98]:
#detecting outleirs in Quantity column Column
Q1_Q=df['Quantity'].quantile(0.25)
Q3_Q=df['Quantity'].quantile(0.75)
IQR_Q=Q3-Q1
lower_bound_Q=Q1-1.5*IQR
upper_bound_Q=Q3+1.5*IQR
outliers_Q = df[(df['Quantity'] < lower_bound) | (df['Quantity'] > upper_bound)]
print('Quantity:',outliers_Q.shape[0])
outliers_percent_Q=(outliers_Q.shape[0]/len(df))*100
print('outliers_percent Q')
print(outliers_percent_Q)
#detecting outleirs in unit column Column
Q1_P=df['UnitPrice'].quantile(0.25)
Q3_P=df['UnitPrice'].quantile(0.75)
IQR_P=Q3-Q1
lower_bound_P=Q1-1.5*IQR
upper_bound_P=Q3+1.5*IQR
outliers_P= df[(df['UnitPrice'] < lower_bound) | (df['UnitPrice'] > upper_bound)]
print('Price:',outliers_P.shape[0])
outliers_percent_P=(outliers_P.shape[0]/len(df))*100
print('outliers_percent P')

print(outliers_percent_P)

print(df.shape)
#remove outliers
df=df[(df['UnitPrice'] > lower_bound_P) & (df['UnitPrice'] < upper_bound_P) & (df['Quantity'] > lower_bound_Q) & (df['Quantity'] < upper_bound_Q)]
#print(txn.shape)

Quantity: 57849
outliers_percent Q
10.809119055582443
Price: 3495
outliers_percent P
0.6530427682286752
(535187, 8)

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹2.3Â Detect & Remove invalid values in Quantity and prince column
</p>

In [99]:
# check Quantity less then 1
(df['Quantity']<1).sum()

np.int64(7859)

In [100]:
# check 0 less then 0
(df['UnitPrice']<0).sum()

np.int64(0)

In [101]:
# Remove Quantity and price invalid values
df=df[(df['Quantity']>=1) & (df['UnitPrice']>=0)]

In [102]:
df.shape

(465994, 8)

<p style="font-family: Georgia; font-size: 30px; color: darkblue;">
ðŸ”¹3Â Â Feature engineering & Save cleand data
</p>

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹3.1 Total Sale column
</p>

In [103]:
#Create Total sale column
df['TotalSale']=df['Quantity']*df['UnitPrice']

<p style="font-family: Georgia; font-size: 20px; color: dark;">
ðŸ”¹3.Save data
</p>

In [104]:
#save data in excel file for dashboard creation
df.to_excel('online_retail_store cleand data.xlsx',index=False)

In [105]:
df['CustomerID'].value_counts().get('Unknown',0)

np.int64(128711)